@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model DubrovnikTours.Web.Models.ContactUs.ContactUsFormViewModel
    <div class="page page-contact">
        <div class="page-header">
            <div class="container">
                <h3>@Localizer["Contact us"]</h3>
            </div>
        </div>
        <div class="container-fluid body-container">
            <div class="page-contact-content">
                <p>
                    @Localizer["Has your e-mail for booking confirmation strayed somehwere off the path? Worry not! You can easily contact us through filling out the form below, or if you prefer calls or e-mails you can contact us through provided contact information. You can use the same form and contact information if you want some additional informations or have any other questions. We are glad to help! :)"]
                </p>
                <div class="page-contact-content-contacts">
                    <form id="contact-us" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="form">
                        <div class="form-group">
                            <label asp-for="@Model.Name">@Localizer["Full name"]</label>
                            <input asp-for="@Model.Name" name="name" placeholder="@Localizer["Full name"]..." class="form-control" type="text" />
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Email">@Localizer["E-mail"]</label>
                            <input asp-for="@Model.Email" placeholder="@Localizer["E-mail"]..." class="form-control" type="email" />
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Subject">@Localizer["Subject"]</label>
                            <input asp-for="@Model.Subject" placeholder="@Localizer["Subject"]..." class="form-control" type="text" />
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Message">@Localizer["Message"]</label>
                            <textarea asp-for="@Model.Message" name="message" class="form-control" rows="10" placeholder="@Localizer["Message"]..."></textarea>
                        </div>
                        <div class="form-group">
                            <button id="submit-contact-form" class="btn btn-primary" href="javascript:void(0)">@Localizer["SEND"]</button>
                        </div>
                        <div class="error" asp-validation-summary="All"></div>
                        <div class="success"></div>
                    </form>
                    <div class="footer-info">
                        <div id="footer-address" class="footer-info-item" style="color:gray !important;">
                            <svg width="20" height="24" viewBox="0 0 20 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10 0C15.4688 0 20 4.45603 20 10.0065C20 16.4951 13.8281 19.7785 10 24C6.09375 19.7785 0 16.4951 0 10.0065C0 4.45603 4.45313 0 10 0ZM10 1.56352C5.3125 1.56352 1.5625 5.31596 1.5625 10.0065C1.5625 15.4788 6.5625 18.215 10 21.7329C13.3594 18.215 18.4375 15.4788 18.4375 10.0065C18.4375 5.31596 14.6094 1.56352 10 1.56352Z"
                                      fill="#1868b3" />
                                <path d="M10 4.84766C12.8125 4.84766 15.1562 7.11476 15.1562 10.0073C15.1562 12.8216 12.8125 15.1669 10 15.1669C7.10937 15.1669 4.84375 12.8216 4.84375 10.0073C4.84375 7.11476 7.10937 4.84766 10 4.84766ZM10 6.41117C7.96875 6.41117 6.40625 7.97469 6.40625 10.0073C6.40625 11.9617 7.96875 13.6034 10 13.6034C11.9531 13.6034 13.5937 11.9617 13.5937 10.0073C13.5937 7.97469 11.9531 6.41117 10 6.41117Z"
                                      fill="#1868b3" />
                            </svg>

                            <span style="color:gray !important;">Bana Josipa Jelačića 57, 20 000 Dubrovnik, Croatia</span>
                        </div>
                        <div class="footer-info-item" style="color:gray !important;">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.34258 2.9782C8.34258 2.78521 8.19725 2.59223 7.95504 2.59223C7.76127 2.59223 7.56749 2.78521 7.56749 2.9782C7.56749 3.17118 7.76127 3.36416 7.95504 3.36416C8.19725 3.36416 8.34258 3.17118 8.34258 2.9782Z"
                                      fill="#1868b3" />
                                <path d="M9.69894 2.59223C9.94116 2.59223 10.0865 2.78521 10.0865 2.9782C10.0865 3.17118 9.94116 3.36416 9.69894 3.36416C9.50517 3.36416 9.3114 3.17118 9.3114 2.9782C9.3114 2.78521 9.50517 2.59223 9.69894 2.59223Z"
                                      fill="#1868b3" />
                                <path d="M11.8304 2.9782C11.8304 2.78521 11.6851 2.59223 11.4429 2.59223C11.2491 2.59223 11.0554 2.78521 11.0554 2.9782C11.0554 3.17118 11.2491 3.36416 11.4429 3.36416C11.6851 3.36416 11.8304 3.17118 11.8304 2.9782Z"
                                      fill="#1868b3" />
                                <path fill-rule="evenodd"
                                      clip-rule="evenodd"
                                      d="M16.8201 1H7.17993C5.96886 1 5 1.96491 5 3.17105V20.8289C5 22.0351 5.96886 23 7.17993 23H16.8201C18.0311 23 19 22.0351 19 20.8289V3.17105C19 1.96491 18.0311 1 16.8201 1ZM18.0311 19.0439H5.96886V4.95614H18.0311V19.0439ZM5.96886 20.0088H18.0311V20.8289C18.0311 21.5044 17.4983 22.0351 16.8201 22.0351H7.17993C6.50173 22.0351 5.96886 21.5044 5.96886 20.8289V20.0088ZM18.0311 3.99123H5.96886V3.17105C5.96886 2.49561 6.50173 1.96491 7.17993 1.96491H16.8201C17.4983 1.96491 18.0311 2.49561 18.0311 3.17105V3.99123Z"
                                      fill="#1868b3" />
                            </svg>

                            <span style="color:gray !important;">+385 99 773 0077 | +385 98 972 9490</span>
                        </div>
                        <div class="footer-info-item" style="color:gray !important;">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      clip-rule="evenodd"
                                      d="M7.14079 12C7.14079 9.3164 9.31631 7.14088 11.9999 7.14088C14.6834 7.14088 16.8589 9.3164 16.8587 11.9997C16.8587 12.6409 16.7586 13.3426 16.4438 13.8117C16.1649 14.2276 15.6907 14.5013 15.1524 14.5013C14.578 14.5013 14.0774 14.1888 13.8085 13.7252C13.3528 14.2024 12.7119 14.5013 11.9999 14.5013C10.6184 14.5013 9.49848 13.3814 9.49848 12C9.49848 10.6185 10.6184 9.49857 11.9999 9.49857C12.6231 9.49857 13.1919 9.72693 13.6291 10.1041C13.6938 9.93399 13.8572 9.81262 14.0502 9.81262C14.2903 9.81262 14.4851 10.001 14.4987 10.2378H14.5015V12.9475H14.5023C14.5023 12.9487 14.5021 12.95 14.5019 12.9513C14.5017 12.9526 14.5015 12.954 14.5015 12.9554C14.5015 13.3067 14.7863 13.5915 15.1376 13.5915C15.4347 13.5915 15.6307 13.4234 15.7451 13.1233C15.752 13.1008 15.7594 13.0786 15.7669 13.0565C15.779 13.0204 15.7912 12.9844 15.8006 12.9472C15.8768 12.6442 15.9173 12.3268 15.9173 12C15.9173 9.83649 14.1633 8.08278 11.9999 8.08278C9.8364 8.08278 8.08269 9.83649 8.08269 12C8.08269 14.1634 9.8364 15.9174 11.9999 15.9174C12.8612 15.9174 13.6535 15.6346 14.3001 15.1636L14.3019 15.1659C14.3747 15.1194 14.461 15.0917 14.5538 15.0917C14.814 15.0917 15.0244 15.3024 15.0244 15.5625C15.0244 15.6947 14.9695 15.814 14.8815 15.8994L14.8794 15.9012C14.8397 15.9395 14.7935 15.9708 14.7422 15.9933C13.964 16.5206 13.0059 16.859 11.9999 16.859C9.31631 16.859 7.14079 14.6835 7.14079 12ZM10.4014 12C10.4014 12.8828 11.117 13.5984 11.9999 13.5984C12.8827 13.5984 13.5983 12.8828 13.5983 12C13.5983 11.1173 12.8827 10.4015 11.9999 10.4015C11.1172 10.4015 10.4014 11.1171 10.4014 12Z"
                                      fill="#1868b3" />
                                <path fill-rule="evenodd"
                                      clip-rule="evenodd"
                                      d="M2 11.9999C2 6.47703 6.47703 2 11.9999 2C17.5222 2 22 6.47703 22 11.9999C22 17.523 17.5227 22 11.9999 22H2L5.73757 19.7937C3.45942 17.9607 2 15.1514 2 11.9999ZM5.31884 21.1102H11.9996C17.0311 21.1102 21.1099 17.0311 21.1099 11.9999C21.1099 6.96838 17.0311 2.88981 11.9996 2.88981C6.96812 2.88981 2.88956 6.96838 2.88956 11.9999C2.88956 15.3669 4.71742 18.305 7.43355 19.8822L5.31884 21.1102Z"
                                      fill="#1868b3" />
                            </svg>

                            <span style="color:gray !important;">privatetourdubrovnik@gmail.com</span>
                        </div>
                        <div class="footer-info-item" style="color:gray !important;">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.4081 17C4.40889 17 3.49724 16.7683 2.67315 16.3048C1.84905 15.831 1.19493 15.177 0.710778 14.3427C0.236926 13.4981 0 12.5506 0 11.5C0 10.4494 0.236926 9.50702 0.710778 8.67275C1.19493 7.82818 1.84905 7.17416 2.67315 6.71067C3.49724 6.23689 4.40889 6 5.4081 6C6.41761 6 7.33441 6.23689 8.1585 6.71067C8.98259 7.17416 9.63156 7.82303 10.1054 8.6573C10.5793 9.49157 10.8162 10.4391 10.8162 11.5C10.8162 12.5609 10.5793 13.5084 10.1054 14.3427C9.63156 15.177 8.98259 15.831 8.1585 16.3048C7.33441 16.7683 6.41761 17 5.4081 17ZM5.4081 15.7795C6.16008 15.7795 6.83481 15.6044 7.43227 15.2542C8.04004 14.904 8.51389 14.4045 8.85383 13.7556C9.20407 13.1067 9.37919 12.3549 9.37919 11.5C9.37919 10.6348 9.20407 9.88296 8.85383 9.24438C8.51389 8.59551 8.04519 8.09597 7.44772 7.74579C6.85026 7.3956 6.17038 7.22051 5.4081 7.22051C4.64581 7.22051 3.96594 7.3956 3.36847 7.74579C2.77101 8.09597 2.29715 8.59551 1.94692 9.24438C1.60698 9.88296 1.43701 10.6348 1.43701 11.5C1.43701 12.3549 1.60698 13.1067 1.94692 13.7556C2.29715 14.4045 2.77101 14.904 3.36847 15.2542C3.97624 15.6044 4.65611 15.7795 5.4081 15.7795Z"
                                      fill="#1868b3" />
                                <path d="M14.0786 6.1236V16.8919H12.6725V6.1236H14.0786Z" fill="#1868b3" />
                                <path d="M21.8677 11.3455C22.2591 11.4073 22.6145 11.5669 22.9338 11.8244C23.2635 12.0819 23.521 12.4012 23.7064 12.7823C23.9021 13.1634 24 13.5702 24 14.0028C24 14.5487 23.8609 15.0431 23.5828 15.486C23.3047 15.9185 22.8978 16.2636 22.3621 16.5211C21.8368 16.7683 21.2135 16.8919 20.4925 16.8919H16.475V6.1236H20.3379C21.0693 6.1236 21.6925 6.24719 22.2076 6.49438C22.7227 6.73127 23.109 7.05571 23.3665 7.4677C23.624 7.87968 23.7528 8.34316 23.7528 8.85815C23.7528 9.49672 23.5777 10.0272 23.2274 10.4494C22.8875 10.8614 22.4342 11.1601 21.8677 11.3455ZM17.8811 10.7739H20.2452C20.9045 10.7739 21.4144 10.6194 21.775 10.3104C22.1355 10.0014 22.3158 9.57397 22.3158 9.02809C22.3158 8.48221 22.1355 8.05478 21.775 7.74579C21.4144 7.4368 20.8942 7.2823 20.2143 7.2823H17.8811V10.7739ZM20.3689 15.7331C21.0693 15.7331 21.6153 15.5684 22.0067 15.2388C22.3982 14.9092 22.5939 14.4508 22.5939 13.8638C22.5939 13.2664 22.3879 12.7978 21.9758 12.4579C21.5638 12.1077 21.0127 11.9326 20.3225 11.9326H17.8811V15.7331H20.3689Z"
                                      fill="#1868b3" />
                            </svg>
                            <span style="color:gray !important;">329 614 52 480</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <environment include="Development">
            <script src="~/js/contact/contact.js"></script>
        </environment>
        <environment exclude="Development">
            <script src="~/js/contact/contact.min.js"></script>
        </environment>

        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
