@using DubrovnikTours.Web.Models.Tour
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model IEnumerable<TourPreviewViewModel>
    <div class="page page-tours page-tours-private">
        <div class="page-header">
            <div class="container">
                <h3>@Localizer["Private Tours"].Value.ToUpper()</h3>
            </div>
        </div>
        <div class="container-fluid body-container">
            <div class="container-fluid page-tours-cards-container">
                <div class="page-tours-cards">
                    @foreach (var tour in Model)
                    {
                        <div class="card">
                            <a class="card-link" asp-controller="Tour" asp-action="TourBooking" asp-route-id="@tour.Id" asp-route-slug="@tour.Slug" asp-route-application="@tour.ApplicationId">.</a>
                            <div class="card-discount">
                                <span>SAVE</span>
                                <strong>@tour.DiscountPercent%</strong>
                            </div>
                            <img class="card-image lazy" src="/ico/blank.svg" data-original="@Url.Content(tour.MainImage.Url)" alt="@tour.MainImage.AltDescription" />
                            <div class="card-body-private-tours">
                                <span class="card-title">@tour.Title</span>
                                <span class="card-category">@Localizer["Private"]</span>
                                <p class="card-description">@tour.Description</p>
                            </div>

                            <div class="card-info">
                                <span class="card-duration">@Localizer["Duration"].Value.ToUpper():</span><span class="card-duration">&nbsp; @tour.DisplayDuration @Localizer["hours"]</span>
                                <div class="card-footer">
                                    <span class="card-price">@tour.DisplayPrice </span>
                                    <svg class="card-footer-icon card-footer-see-more" width="38" height="7" viewBox="0 0 38 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 6.5H37L31 1" stroke="#1868b3" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    <svg class="card-footer-icon card-footer-schedule" width="30" height="29" viewBox="0 0 30 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M22.3318 13.0874V5.28155C22.3318 3.88349 21.1811 2.7767 19.7944 2.7767H16.6374V1.90291C16.6374 1.40777 16.2243 1 15.7228 1C15.2212 1 14.8081 1.40777 14.8081 1.90291V2.74757H8.52365V1.90291C8.52365 1.40777 8.11059 1 7.60901 1C7.10743 1 6.69437 1.40777 6.69437 1.90291V2.74757H3.53739C2.12117 2.74757 1 3.8835 1 5.25243V18.8835C1 20.2816 2.15068 21.3883 3.53739 21.3883H13.8935C14.336 25.0874 17.552 28 21.4171 28C25.6068 28 28.9998 24.6505 28.9998 20.5146C29.0293 16.699 26.1083 13.5243 22.3318 13.0874ZM3.53739 4.5534H6.69437V5.39806C6.69437 5.8932 7.10743 6.30097 7.60901 6.30097C8.11059 6.30097 8.52365 5.8932 8.52365 5.39806V4.5534H14.8081V5.39806C14.8081 5.8932 15.2212 6.30097 15.7228 6.30097C16.2243 6.30097 16.6374 5.8932 16.6374 5.39806V4.5534H19.7944C20.2074 4.5534 20.532 4.87379 20.532 5.28155V8.33981H2.82928V5.28155C2.82928 4.87379 3.15383 4.5534 3.53739 4.5534ZM2.82928 18.9126V10.1165H20.532V13.0874C17.08 13.4951 14.336 16.2039 13.923 19.6116H3.53739C3.15383 19.6116 2.82928 19.2913 2.82928 18.9126ZM21.4466 26.2233C18.2601 26.2233 15.6637 23.6602 15.6637 20.5146C15.6637 17.3689 18.2601 14.835 21.4466 14.835C24.6331 14.835 27.2295 17.3981 27.2295 20.5437C27.2295 23.6893 24.6331 26.2233 21.4466 26.2233Z" fill="white" stroke="#1868b3" stroke-width="0.75" />
                                        <path d="M23.9545 19.6129H22.3317V17.4576C22.3317 16.9625 21.9187 16.5547 21.4171 16.5547C20.9155 16.5547 20.5024 16.9625 20.5024 17.4576V20.5159C20.5024 21.011 20.9155 21.4188 21.4171 21.4188H23.9545C24.456 21.4188 24.8691 21.011 24.8691 20.5159C24.8691 20.0207 24.456 19.6129 23.9545 19.6129Z" fill="white" stroke="#1868b3" stroke-width="0.75" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        </div>
